WEBHOOK_SECRET=change-me
DATABASE_ENABLED=false
SQLSERVER_CONNECTION_STRING=DRIVER={ODBC Driver 18 for SQL Server};SERVER=localhost;DATABASE=chatbot;UID=user;PWD=password;Encrypt=yes;TrustServerCertificate=yes

